DATABASE_URL=postgres://mma:mma@localhost:5433/mma_dev
DATABASE_URL_UNPOOLED=postgres://mma:mma@localhost:5433/mma_dev
MIN_VERSION_IOS=0.0.0
MIN_VERSION_ANDROID=0.0.0
LATEST_VERSION_IOS=0.0.0
LATEST_VERSION_ANDROID=0.0.0
FEATURE_TAGGING=on
FEATURE_SUGGESTIONS=on
CRON_SECRET=
